<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="travelceylon.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/ico"
        android:label="Travel Ceylon" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Travel_Ceylon_Activity"
            android:icon="@drawable/ico"
            android:label="Travel Ceylon" >
            <intent-filter android:icon="@drawable/ico" >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Selection_Activity"
            android:icon="@drawable/ico"
            android:label="Travel Ceylon Selection" >
        </activity>
        <activity
            android:name=".Important_place_add_Activity"
            android:icon="@drawable/ico"
            android:label="Add Important Place To Travel Ceylon" >
        </activity>
        <activity
            android:name=".Plan_a_trip_Guide"
            android:icon="@drawable/ico"
            android:label="Plan A Trip Guide" >
        </activity>
        <activity
            android:name=".Add_travel_details_start"
            android:icon="@drawable/ico"
            android:label="Add Travel Details" >
        </activity>
        <activity
            android:name=".Add_travel_details_interest"
            android:icon="@drawable/ico"
            android:label="Add Travel Details_Interest" >
        </activity>
        <activity
            android:name=".Add_travel_details_should_avoid"
            android:icon="@drawable/ico"
            android:label="Add Travel Details_Select_Should_Avoid" >
        </activity>
        <activity
            android:name=".Add_travel_details_should_visit"
            android:icon="@drawable/ico"
            android:label="Add Travel Details_Select_Should_Visit" >
        </activity>
        <activity
            android:name=".Add_travel_details_observing"
            android:icon="@drawable/ico"
            android:label="Add Travel Details_Select_Cities_Observe" >
        </activity>
        <activity
            android:name=".Show_Path_To_Place"
            android:icon="@drawable/ico"
            android:label="Show Path To Place" >
        </activity>
        <activity
            android:name=".Show_Trip_Plan"
            android:icon="@drawable/ico"
            android:label="Show Trip Plan" >
        </activity>
        <activity
            android:name=".Show_Cities"
            android:icon="@drawable/ico"
            android:label="Show All The Cities" >
        </activity>
        <activity
            android:name=".Help"
            android:icon="@drawable/ico"
            android:label="Help" >
        </activity>
    </application>

</manifest>